@import "./mixins";
@import "./variables";



@font-face {
  font-family: Work Sans;
  src: url("../../../public/assets/fonts/work/WorkSans-Regular.ttf");
}

@font-face {
  font-family: semibold;
  src: url("../../../public/assets/fonts/work/WorkSans-SemiBold.ttf");
}

@font-face {
  font-family: Workbold;
  src: url("../../../public/assets/fonts/work/WorkSans-Bold.ttf");
}


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  background-color: #FFFAF4;
}



